html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --black: #2c3e50;
    --red1: #c0392b;
    --red2: #e74c3c;
    --blue1: #2980b9;
    --blue2: #3498db;
    --green1: #27ae60;
    --green2: #2ecc71;
}

h1 {
    font-family: 'Bangers', cursive;
}

main {
    height: 100vh;
    background: radial-gradient(var(--black), #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boutonBurger {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    /* border: 1px solid #fff; */
    cursor: pointer;
}

.span1 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 8px;
    background-color: #fff;
}

.span2 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 18px;
    background-color: #fff;
}

.span3 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 28px;
    background-color: #fff;
}

.general {
    border: 1px solid #fff;
    width: 75%;
    height: 75%;
}